.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}


.myForm{
  padding-left: 20px;
  background-color: rgb(122, 162, 226);
  margin-left: 20px;
  list-style-type: none;
  width: 50%;
  align-items: left;
  text-align: left;

}
.msgdisplsy{
  background-color: rgb(184, 203, 225);
  list-style-type: none;
  width: 50%;
  align-items: left;
  text-align: left;
  
  
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
form{
  align-items:last baseline;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

